<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
 http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
 http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<context:component-scan base-package="com.example.controller" />
	<context:component-scan base-package="com.example.service" />

	<mvc:annotation-driven content-negotiation-manager="contentNegotiationManager">
		<mvc:message-converters register-defaults="true">
			<bean class="com.example.messageconverter.CustomHttpMessageConverter">
				<constructor-arg index="0" ref="customJacksonConverter" />
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<bean id="customJacksonConverter"
		class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"></bean>

	<bean id="contentNegotiationManager"
		class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
		<property name="favorPathExtension" value="false" />
		<property name="mediaTypes">
			<value>
				json=application/json
				xml=application/xml
			</value>
		</property>
		<property name="defaultContentType" value="application/json" />
	</bean>
</beans>